ion-content {
    // --background: url('/assets/img/logoDuasRodas.png');

    // --background: red; 
}

.nameOM{
    color: #A40003;
}

.divHeader{
    height: 100%;
    margin: 0 auto;
}
.buttonResumo{
    margin: 5%;
    --opacity: 2%;
}


