<ion-header>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon class="iconNotifications" color="primary" name="construct"></ion-icon>
            <ion-input>Líder da produção "Edson Freitas" acaba de abrir a "OM 1002" com prioridade "Média".</ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="iconNotifications" color="primary" name="clock"></ion-icon>
            <ion-input>Faltam 2 horas fechar o tempo da OM "1001".</ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="iconNotifications" color="primary" name="checkmark"></ion-icon>
            <ion-input>Parabéns, você finalizou a OM "982" dentro do prazo.</ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="iconNotifications" color="primary" name="build"></ion-icon>
            <ion-input>A peça "Tank" ja se encontra no estoque "Almoxarifado".</ion-input>
        </ion-item>
        
    </ion-list>


</ion-content>