<ion-header>
  
</ion-header>

<ion-content>
  <ion-card>
    <div class="divPrincipal">
      <img class="logoDuasRodas" src="../../assets/img/logoDuasRodas.png">
      <ion-list>      
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
      </ion-list>
      <div class="DivButtonEntrar">
        <ion-button expand="block" color="danger" (click)="login()">Entrar</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>